INSIGHTS:
  ID: "01827c5d-dbde-4fd5-bd57-53859ff44edb"
CI:
  DOCKER_IMAGE_NAME: "fhir-server-db2-ci-cd"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/IBM-WH-ENGMNT/common-umbrella.git"
  REGISTRY_NAMESPACE: "cdt-provider-engmnt-rns"
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "fhir-server"
  SERVICENOW_SERVICENAME: "wh-itops-test"
  TILLERSERVICEACCOUNTDISABLE: "true"
  RELEASE_NAME_NO_GIT_BRANCH: "true"
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
